.add-toy-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-input {
    border: none;
    padding: 15px;
    margin: 5px;
    width: 100%;
}

.submit-btn {
    width: 60%;
    padding: 10px 20px;
    border: none;
    background-color: rgb(33, 33, 115);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
}

.submit-btn:hover {
    background-color: rgb(25, 25, 193);
}